li {
    display: inline;
    margin-left: 5%;
}
.nav-pills {
    position: fixed;
    top: 0;
    left: 0;
    background: #257579;
    min-height: 65px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
}

.nav-pills a {
    color: #fff;
}

.desc-normal {
    color: #fff;
}

.desc-correct {
    color: #0f0;
}

.desc-incorrect {
    color: #f00;
}
